.inter-img {
    width: 100px;
}

#net {
    color: rgb(78, 78, 243);
}

.home-img {
    width: 30px;
}

.call-img {
    width: 85px;
}

.dsn {
    margin-left: -80px;
}

.text {
    margin-left: -20px;
}

#bg-img{
    width: 250px;
}
#client-img{
    width: 500px;
}
#ninja-img{
    width: 130px;
}
.html-img{
    width: 200px;
}

